.web-shop-container {
    padding: 20px, 40px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    @media screen and (max-width: 800px) {
        padding: 10px;
    }
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}
